@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8vw;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.navbar-column-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-navbar {
    width: 3.5vw;
    height: 3.5vw;

}

.icon-navbar:hover {
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #111111;
    width: 100vw;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: flex-start;
    justify-content: left;
}

.right {
    align-items: flex-end;
    justify-content: right;
}

.inter {
    font-family: 'Inter';
}

.white {
    color: white;
}

.blue {
    color: blue
}

.ab {
    position: absolute;
}

@media (orientation: portrait),
(max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 16vw;
        justify-content: center;
        background-color: rgb(0, 0, 0);
    }

    .navbar-column-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icon-navbar {
        width: 7vw;
        height: 7vw;

    }

}